@charset "UTF-8";

/* 全体に適用 */
html {
  font-size: 62.5%;
}

body {
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #000;
}

/* ここからheader */
.header-wrap {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.25%;
}

.header-wrap__ttl h1 {
  font-family: 'Noto Serif JP', serif;
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 1.25;
}

.header-wrap__nav {
  width: 35%;
}

.header-wrap__nav__list {
  display: flex;
  justify-content: flex-end;
}

.header-wrap__nav__list__item {
  margin: 0 5%;
}

.header-wrap__nav__list__item a {
  color: #000;
  text-decoration: none;
  font-size: 1.75rem;
  transition: all 0.3s;
}

.header-wrap__nav__list__item a:hover {
  opacity: 0.5;
}

.header-wrap__nav__list__item i {
  color: #000;
  font-size: 2.5rem;
}

/* ここからトップ */
.__inner {
  max-width: 1250px;
  margin: 7.5% auto;
}

.top-wrap {
  aspect-ratio: 2 / 1;
  margin: 0 auto;
}

.top-wrap.__bg {
  background-image: url("../img/fv-bg.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
}

/* ここからabout */
.about-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about-wrap__img {
  width: 45%;
  position: relative;
}

.about-wrap__img::before {
  content: "";
  display: block;
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 25px;
  right: 25px;
}

.about-wrap__img img {
  display: block;
  width: 100%;
}

.about-wrap__con {
  width: 45%;
}

.s-ttl {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.5;
  margin-bottom: 2.5%;
}

.about-wrap__con__head {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 2.5%;
}

.about-wrap__con__txt {
  font-size: 1.5rem;
  line-height: 1.25;
}

/* ここからサービス */
.service-wrap__ttl {
  text-align: center;
}

.service-wrap__con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5%;
}

.service-wrap__con__block {
  width: 27.5%;
}

.service-wrap__con__block__head {
  text-align: center;
  margin-bottom: 6.25%;
}

.service-wrap__con__block__head h3 {
  font-size: 2.5rem;
}


.service-wrap__con__block__head h3 span {
  display: block;
  font-size: 1.25rem;
}

.service-wrap__con__block__icon {
  text-align: center;
  margin-bottom: 6.25%;
}

.service-wrap__con__block__icon i {
  font-size: 12.5rem;
}

.service-wrap__con__block__txt {
  font-size: 1.5rem;
}

/* ここからworks */
.works-wrap__con {
  display: flex;
}

.__rev {
  flex-direction: row-reverse;
}

.works-wrap__con__main {
  width: 50%;
  margin: 10px;
  border: solid #000 5px;
}

.works-wrap__con__main a img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.works-wrap__con__main a img:hover {
  opacity: 0.5;
}

.works-wrap__con__sub {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.works-wrap__con__sub a {
  width: 45%;
  margin: 10px;
  border: solid #000 5px;
}

.works-wrap__con__sub a img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.works-wrap__con__sub a img:hover {
  opacity: 0.5;
}

/* ここからcontact */
.contact-wrap__ttl {
  text-align: center;
}

.contact-wrap__txt {
  text-align: center;
}

.contact-wrap__txt p {
  font-size: 1.5rem;
}

.contact-wrap__con {
  width: 62.5%;
  margin: 0 auto;
}

.contact-wrap__con__form__item {
  margin: 4.5% 0;
}

.contact-wrap__con__form__item label {
  display: block;
  position: relative;
  color: #000;
  font-size: 1.75rem;
  padding-bottom: 0.75%;
}

.contact-wrap__con__form__item label span {
  font-size: 1.25rem;
  color: #c72930;
  border: solid #c72930 1px;
  padding: 0.75% 1.5%;
  margin-left: 1.5%;
  border-radius: 2px;
}

.contact-wrap__con__form__item input {
  width: 100%;
  height: 4rem;
  border: solid #000 1px;
}

.contact-wrap__con__form__btn {
  width: 27.5%;
  margin: 0 auto;
  border: solid #000 1px;
}

.contact-wrap__con__form__btn button {
  width: 100%;
  cursor: pointer;
  font-size: 1.75rem;
  color: #000;
  border: unset;
  background-color: unset;
  line-height: 3.25;
  transition: all 0.3s;
}

.contact-wrap__con__form__btn button:hover {
  background-color: #000;
  color: #fff;
}

/* ここからフッター */
.footer-wrap {
  max-width: 1400px;
  margin: 0 auto 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrap__list {
  width: 40%;
  display: flex;
}

.footer-wrap__list__item {
  margin-right: 7.5%;
  list-style: none;
}

.footer-wrap__list__item a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.footer-wrap__list__item a:hover {
  opacity: 0.5;
}

.footer-wrap__right {
  color: #000;
  font-size: 1.5rem;
}